// --- colors ---
$text-dark: #221a37;
$text-medium: #6b7280;
$text-light: #ffffff;

$bg-light: #ffffff;
$bg-dark: #221a37;
$bg-hover: #eef6f8;

$border: #e3eaef;
$accent: #111827;

$light-100: #f5f5f5;
$light-200: #e5e5e5;
$light-300: #d4d4d4;
