@use "./_colors.scss" as _colors;
@use "./_buttons.scss";

// --- typography ---
h1,
h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: _colors.$text-dark;
}
h1 {
  font-size: 32px;
  letter-spacing: -1.68px;
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
}

// --- table ---
.table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #f4f4f4;
  text-align: left;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #f1f1f1;
}

// --- input ---
.input-field {
  border: 1px solid #ccc;
  padding: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  border-radius: 4px;
}
label {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  margin-bottom: 4px;
}
