@use "./_colors.scss" as _colors;
@use "./_buttons.scss";
@use "./_tables.scss";
@use "./_pagination.scss";

// --- typography ---
h1,
h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: _colors.$text-dark;
}
h1 {
  font-size: 32px;
  letter-spacing: -1.68px;
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
}
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: _colors.$text-dark;
}

// --- input ---
.input-field {
  border: 1px solid _colors.$border;
  padding: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  border-radius: 4px;
}
label {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  margin-bottom: 4px;
}
